/*-- Sidebar post widget --*/
.tab-pane {
  transform: translateY(2rem);
  transition: all 0.3s ease-in-out;
}
.tab-pane.show {
  transform: translateY(0);
}
.sidebar-post-widget .nav-pills {
  border: 0 solid var(--grey-light-one);
  border-width: 0 0 0.1rem 0.1rem;
  margin-bottom: 2rem;
  padding: 0;
}
.sidebar-post-widget .nav-pills li {
  display: block;
  margin-bottom: 0;
  text-transform: none;
}
.sidebar-post-widget .nav-pills li a {
  font-family: var(--secondary-font);
  font-size: 1.2rem;
  line-height: 1.6rem;
  color: var(--grey-mid);
  text-transform: uppercase;
  letter-spacing: 0.1rem;
  font-weight: var(--s-bold);
  text-align: center;
  padding: 1.3rem 1rem;
  border: 0 solid var(--grey-light-one);
  border-width: 0.1rem 0.1rem 0 0;
  border-radius: 0;
}
.sidebar-post-widget .nav-pills li a:hover,
.sidebar-post-widget .nav-pills li a.active {
  background-color: var(--primary-color);
  border-color: var(--primary-color);
  color: #fff;
}
.sidebar-post-widget .post-metas li {
  margin-bottom: 0;
}
