/*-- Media queries --*/
@media screen and (min-width: 0 \0) {
  .axil-latest-post .post-block {
    display: block;
  }
  .subscribe-popup .section-title {
    display: block;
  }
  .bg-grey-dark-one .hover-line a,
  .media-caption .hover-line a,
  .axil-img-container .hover-line a,
  .banner-home__with-post .banner-left-content .hover-line a,
  .post-block__on-dark-bg .hover-line a {
    color: var(--color-white);
    background-image: linear-gradient(to right, var(--color-white) 0%, var(--color-white) 100%);
  }
  .hover-line a {
    color: inherit;
  }
  .video-container__type-2 .axil-img-container .media-body {
    display: block !important;
  }
  .axil-img-container.flex-height-container .media-body {
    display: block !important;
    position: absolute;
    left: 0;
    top: 440px;
  }
  .axil-banner-cat-counter .axil-content::before {
    content: "";
    background-size: 100% 100%;
    background-position: center center;
    bottom: -5rem;
  }
  .social-count-plus ul li {
    margin: 4.9999px !important;
  }
}
