/*-- Spacing --*/
.m-xs-0 {
  margin: 0rem !important;
}
.m-t-xs-0 {
  margin-top: 0rem !important;
}
.m-r-xs-0 {
  margin-right: 0rem !important;
}
.m-b-xs-0 {
  margin-bottom: 0rem !important;
}
.m-l-xs-0 {
  margin-left: 0rem !important;
}
.m-xs-5 {
  margin: 0.5rem !important;
}
.m-t-xs-5 {
  margin-top: 0.5rem !important;
}
.m-r-xs-5 {
  margin-right: 0.5rem !important;
}
.m-b-xs-5 {
  margin-bottom: 0.5rem !important;
}
.m-l-xs-5 {
  margin-left: 0.5rem !important;
}
.m-xs-10 {
  margin: 1rem !important;
}
.m-t-xs-10 {
  margin-top: 1rem !important;
}
.m-r-xs-10 {
  margin-right: 1rem !important;
}
.m-b-xs-10 {
  margin-bottom: 1rem !important;
}
.m-l-xs-10 {
  margin-left: 1rem !important;
}
.m-xs-15 {
  margin: 1.5rem !important;
}
.m-t-xs-15 {
  margin-top: 1.5rem !important;
}
.m-r-xs-15 {
  margin-right: 1.5rem !important;
}
.m-b-xs-15 {
  margin-bottom: 1.5rem !important;
}
.m-l-xs-15 {
  margin-left: 1.5rem !important;
}
.m-xs-20 {
  margin: 2rem !important;
}
.m-t-xs-20 {
  margin-top: 2rem !important;
}
.m-r-xs-20 {
  margin-right: 2rem !important;
}
.m-b-xs-20 {
  margin-bottom: 2rem !important;
}
.m-l-xs-20 {
  margin-left: 2rem !important;
}
.m-xs-25 {
  margin: 2.5rem !important;
}
.m-t-xs-25 {
  margin-top: 2.5rem !important;
}
.m-r-xs-25 {
  margin-right: 2.5rem !important;
}
.m-b-xs-25 {
  margin-bottom: 2.5rem !important;
}
.m-l-xs-25 {
  margin-left: 2.5rem !important;
}
.m-xs-30 {
  margin: 3rem !important;
}
.m-t-xs-30 {
  margin-top: 3rem !important;
}
.m-r-xs-30 {
  margin-right: 3rem !important;
}
.m-b-xs-30 {
  margin-bottom: 3rem !important;
}
.m-l-xs-30 {
  margin-left: 3rem !important;
}
.m-xs-35 {
  margin: 3.5rem !important;
}
.m-t-xs-35 {
  margin-top: 3.5rem !important;
}
.m-r-xs-35 {
  margin-right: 3.5rem !important;
}
.m-b-xs-35 {
  margin-bottom: 3.5rem !important;
}
.m-l-xs-35 {
  margin-left: 3.5rem !important;
}
.m-xs-40 {
  margin: 4rem !important;
}
.m-t-xs-40 {
  margin-top: 4rem !important;
}
.m-r-xs-40 {
  margin-right: 4rem !important;
}
.m-b-xs-40 {
  margin-bottom: 4rem !important;
}
.m-l-xs-40 {
  margin-left: 4rem !important;
}
.m-xs-45 {
  margin: 4.5rem !important;
}
.m-t-xs-45 {
  margin-top: 4.5rem !important;
}
.m-r-xs-45 {
  margin-right: 4.5rem !important;
}
.m-b-xs-45 {
  margin-bottom: 4.5rem !important;
}
.m-l-xs-45 {
  margin-left: 4.5rem !important;
}
.m-xs-50 {
  margin: 5rem !important;
}
.m-t-xs-50 {
  margin-top: 5rem !important;
}
.m-r-xs-50 {
  margin-right: 5rem !important;
}
.m-b-xs-50 {
  margin-bottom: 5rem !important;
}
.m-l-xs-50 {
  margin-left: 5rem !important;
}
.m-xs-55 {
  margin: 5.5rem !important;
}
.m-t-xs-55 {
  margin-top: 5.5rem !important;
}
.m-r-xs-55 {
  margin-right: 5.5rem !important;
}
.m-b-xs-55 {
  margin-bottom: 5.5rem !important;
}
.m-l-xs-55 {
  margin-left: 5.5rem !important;
}
.m-xs-60 {
  margin: 6rem !important;
}
.m-t-xs-60 {
  margin-top: 6rem !important;
}
.m-r-xs-60 {
  margin-right: 6rem !important;
}
.m-b-xs-60 {
  margin-bottom: 6rem !important;
}
.m-l-xs-60 {
  margin-left: 6rem !important;
}
.m-xs-65 {
  margin: 6.5rem !important;
}
.m-t-xs-65 {
  margin-top: 6.5rem !important;
}
.m-r-xs-65 {
  margin-right: 6.5rem !important;
}
.m-b-xs-65 {
  margin-bottom: 6.5rem !important;
}
.m-l-xs-65 {
  margin-left: 6.5rem !important;
}
.m-xs-70 {
  margin: 7rem !important;
}
.m-t-xs-70 {
  margin-top: 7rem !important;
}
.m-r-xs-70 {
  margin-right: 7rem !important;
}
.m-b-xs-70 {
  margin-bottom: 7rem !important;
}
.m-l-xs-70 {
  margin-left: 7rem !important;
}
.m-xs-75 {
  margin: 7.5rem !important;
}
.m-t-xs-75 {
  margin-top: 7.5rem !important;
}
.m-r-xs-75 {
  margin-right: 7.5rem !important;
}
.m-b-xs-75 {
  margin-bottom: 7.5rem !important;
}
.m-l-xs-75 {
  margin-left: 7.5rem !important;
}
.m-xs-80 {
  margin: 8rem !important;
}
.m-t-xs-80 {
  margin-top: 8rem !important;
}
.m-r-xs-80 {
  margin-right: 8rem !important;
}
.m-b-xs-80 {
  margin-bottom: 8rem !important;
}
.m-l-xs-80 {
  margin-left: 8rem !important;
}
.m-xs-85 {
  margin: 8.5rem !important;
}
.m-t-xs-85 {
  margin-top: 8.5rem !important;
}
.m-r-xs-85 {
  margin-right: 8.5rem !important;
}
.m-b-xs-85 {
  margin-bottom: 8.5rem !important;
}
.m-l-xs-85 {
  margin-left: 8.5rem !important;
}
.m-xs-90 {
  margin: 9rem !important;
}
.m-t-xs-90 {
  margin-top: 9rem !important;
}
.m-r-xs-90 {
  margin-right: 9rem !important;
}
.m-b-xs-90 {
  margin-bottom: 9rem !important;
}
.m-l-xs-90 {
  margin-left: 9rem !important;
}
.m-xs-95 {
  margin: 9.5rem !important;
}
.m-t-xs-95 {
  margin-top: 9.5rem !important;
}
.m-r-xs-95 {
  margin-right: 9.5rem !important;
}
.m-b-xs-95 {
  margin-bottom: 9.5rem !important;
}
.m-l-xs-95 {
  margin-left: 9.5rem !important;
}
.m-xs-100 {
  margin: 10rem !important;
}
.m-t-xs-100 {
  margin-top: 10rem !important;
}
.m-r-xs-100 {
  margin-right: 10rem !important;
}
.m-b-xs-100 {
  margin-bottom: 10rem !important;
}
.m-l-xs-100 {
  margin-left: 10rem !important;
}
@media (min-width: 768px) {
  .m-sm-0 {
    margin: 0rem !important;
  }
  .m-t-sm-0 {
    margin-top: 0rem !important;
  }
  .m-r-sm-0 {
    margin-right: 0rem !important;
  }
  .m-b-sm-0 {
    margin-bottom: 0rem !important;
  }
  .m-l-sm-0 {
    margin-left: 0rem !important;
  }
  .m-sm-5 {
    margin: 0.5rem !important;
  }
  .m-t-sm-5 {
    margin-top: 0.5rem !important;
  }
  .m-r-sm-5 {
    margin-right: 0.5rem !important;
  }
  .m-b-sm-5 {
    margin-bottom: 0.5rem !important;
  }
  .m-l-sm-5 {
    margin-left: 0.5rem !important;
  }
  .m-sm-10 {
    margin: 1rem !important;
  }
  .m-t-sm-10 {
    margin-top: 1rem !important;
  }
  .m-r-sm-10 {
    margin-right: 1rem !important;
  }
  .m-b-sm-10 {
    margin-bottom: 1rem !important;
  }
  .m-l-sm-10 {
    margin-left: 1rem !important;
  }
  .m-sm-15 {
    margin: 1.5rem !important;
  }
  .m-t-sm-15 {
    margin-top: 1.5rem !important;
  }
  .m-r-sm-15 {
    margin-right: 1.5rem !important;
  }
  .m-b-sm-15 {
    margin-bottom: 1.5rem !important;
  }
  .m-l-sm-15 {
    margin-left: 1.5rem !important;
  }
  .m-sm-20 {
    margin: 2rem !important;
  }
  .m-t-sm-20 {
    margin-top: 2rem !important;
  }
  .m-r-sm-20 {
    margin-right: 2rem !important;
  }
  .m-b-sm-20 {
    margin-bottom: 2rem !important;
  }
  .m-l-sm-20 {
    margin-left: 2rem !important;
  }
  .m-sm-25 {
    margin: 2.5rem !important;
  }
  .m-t-sm-25 {
    margin-top: 2.5rem !important;
  }
  .m-r-sm-25 {
    margin-right: 2.5rem !important;
  }
  .m-b-sm-25 {
    margin-bottom: 2.5rem !important;
  }
  .m-l-sm-25 {
    margin-left: 2.5rem !important;
  }
  .m-sm-30 {
    margin: 3rem !important;
  }
  .m-t-sm-30 {
    margin-top: 3rem !important;
  }
  .m-r-sm-30 {
    margin-right: 3rem !important;
  }
  .m-b-sm-30 {
    margin-bottom: 3rem !important;
  }
  .m-l-sm-30 {
    margin-left: 3rem !important;
  }
  .m-sm-35 {
    margin: 3.5rem !important;
  }
  .m-t-sm-35 {
    margin-top: 3.5rem !important;
  }
  .m-r-sm-35 {
    margin-right: 3.5rem !important;
  }
  .m-b-sm-35 {
    margin-bottom: 3.5rem !important;
  }
  .m-l-sm-35 {
    margin-left: 3.5rem !important;
  }
  .m-sm-40 {
    margin: 4rem !important;
  }
  .m-t-sm-40 {
    margin-top: 4rem !important;
  }
  .m-r-sm-40 {
    margin-right: 4rem !important;
  }
  .m-b-sm-40 {
    margin-bottom: 4rem !important;
  }
  .m-l-sm-40 {
    margin-left: 4rem !important;
  }
  .m-sm-45 {
    margin: 4.5rem !important;
  }
  .m-t-sm-45 {
    margin-top: 4.5rem !important;
  }
  .m-r-sm-45 {
    margin-right: 4.5rem !important;
  }
  .m-b-sm-45 {
    margin-bottom: 4.5rem !important;
  }
  .m-l-sm-45 {
    margin-left: 4.5rem !important;
  }
  .m-sm-50 {
    margin: 5rem !important;
  }
  .m-t-sm-50 {
    margin-top: 5rem !important;
  }
  .m-r-sm-50 {
    margin-right: 5rem !important;
  }
  .m-b-sm-50 {
    margin-bottom: 5rem !important;
  }
  .m-l-sm-50 {
    margin-left: 5rem !important;
  }
  .m-sm-55 {
    margin: 5.5rem !important;
  }
  .m-t-sm-55 {
    margin-top: 5.5rem !important;
  }
  .m-r-sm-55 {
    margin-right: 5.5rem !important;
  }
  .m-b-sm-55 {
    margin-bottom: 5.5rem !important;
  }
  .m-l-sm-55 {
    margin-left: 5.5rem !important;
  }
  .m-sm-60 {
    margin: 6rem !important;
  }
  .m-t-sm-60 {
    margin-top: 6rem !important;
  }
  .m-r-sm-60 {
    margin-right: 6rem !important;
  }
  .m-b-sm-60 {
    margin-bottom: 6rem !important;
  }
  .m-l-sm-60 {
    margin-left: 6rem !important;
  }
  .m-sm-65 {
    margin: 6.5rem !important;
  }
  .m-t-sm-65 {
    margin-top: 6.5rem !important;
  }
  .m-r-sm-65 {
    margin-right: 6.5rem !important;
  }
  .m-b-sm-65 {
    margin-bottom: 6.5rem !important;
  }
  .m-l-sm-65 {
    margin-left: 6.5rem !important;
  }
  .m-sm-70 {
    margin: 7rem !important;
  }
  .m-t-sm-70 {
    margin-top: 7rem !important;
  }
  .m-r-sm-70 {
    margin-right: 7rem !important;
  }
  .m-b-sm-70 {
    margin-bottom: 7rem !important;
  }
  .m-l-sm-70 {
    margin-left: 7rem !important;
  }
  .m-sm-75 {
    margin: 7.5rem !important;
  }
  .m-t-sm-75 {
    margin-top: 7.5rem !important;
  }
  .m-r-sm-75 {
    margin-right: 7.5rem !important;
  }
  .m-b-sm-75 {
    margin-bottom: 7.5rem !important;
  }
  .m-l-sm-75 {
    margin-left: 7.5rem !important;
  }
  .m-sm-80 {
    margin: 8rem !important;
  }
  .m-t-sm-80 {
    margin-top: 8rem !important;
  }
  .m-r-sm-80 {
    margin-right: 8rem !important;
  }
  .m-b-sm-80 {
    margin-bottom: 8rem !important;
  }
  .m-l-sm-80 {
    margin-left: 8rem !important;
  }
  .m-sm-85 {
    margin: 8.5rem !important;
  }
  .m-t-sm-85 {
    margin-top: 8.5rem !important;
  }
  .m-r-sm-85 {
    margin-right: 8.5rem !important;
  }
  .m-b-sm-85 {
    margin-bottom: 8.5rem !important;
  }
  .m-l-sm-85 {
    margin-left: 8.5rem !important;
  }
  .m-sm-90 {
    margin: 9rem !important;
  }
  .m-t-sm-90 {
    margin-top: 9rem !important;
  }
  .m-r-sm-90 {
    margin-right: 9rem !important;
  }
  .m-b-sm-90 {
    margin-bottom: 9rem !important;
  }
  .m-l-sm-90 {
    margin-left: 9rem !important;
  }
  .m-sm-95 {
    margin: 9.5rem !important;
  }
  .m-t-sm-95 {
    margin-top: 9.5rem !important;
  }
  .m-r-sm-95 {
    margin-right: 9.5rem !important;
  }
  .m-b-sm-95 {
    margin-bottom: 9.5rem !important;
  }
  .m-l-sm-95 {
    margin-left: 9.5rem !important;
  }
  .m-sm-100 {
    margin: 10rem !important;
  }
  .m-t-sm-100 {
    margin-top: 10rem !important;
  }
  .m-r-sm-100 {
    margin-right: 10rem !important;
  }
  .m-b-sm-100 {
    margin-bottom: 10rem !important;
  }
  .m-l-sm-100 {
    margin-left: 10rem !important;
  }
}
@media (min-width: 992px) {
  .m-md-0 {
    margin: 0rem !important;
  }
  .m-t-md-0 {
    margin-top: 0rem !important;
  }
  .m-r-md-0 {
    margin-right: 0rem !important;
  }
  .m-b-md-0 {
    margin-bottom: 0rem !important;
  }
  .m-l-md-0 {
    margin-left: 0rem !important;
  }
  .m-md-5 {
    margin: 0.5rem !important;
  }
  .m-t-md-5 {
    margin-top: 0.5rem !important;
  }
  .m-r-md-5 {
    margin-right: 0.5rem !important;
  }
  .m-b-md-5 {
    margin-bottom: 0.5rem !important;
  }
  .m-l-md-5 {
    margin-left: 0.5rem !important;
  }
  .m-md-10 {
    margin: 1rem !important;
  }
  .m-t-md-10 {
    margin-top: 1rem !important;
  }
  .m-r-md-10 {
    margin-right: 1rem !important;
  }
  .m-b-md-10 {
    margin-bottom: 1rem !important;
  }
  .m-l-md-10 {
    margin-left: 1rem !important;
  }
  .m-md-15 {
    margin: 1.5rem !important;
  }
  .m-t-md-15 {
    margin-top: 1.5rem !important;
  }
  .m-r-md-15 {
    margin-right: 1.5rem !important;
  }
  .m-b-md-15 {
    margin-bottom: 1.5rem !important;
  }
  .m-l-md-15 {
    margin-left: 1.5rem !important;
  }
  .m-md-20 {
    margin: 2rem !important;
  }
  .m-t-md-20 {
    margin-top: 2rem !important;
  }
  .m-r-md-20 {
    margin-right: 2rem !important;
  }
  .m-b-md-20 {
    margin-bottom: 2rem !important;
  }
  .m-l-md-20 {
    margin-left: 2rem !important;
  }
  .m-md-25 {
    margin: 2.5rem !important;
  }
  .m-t-md-25 {
    margin-top: 2.5rem !important;
  }
  .m-r-md-25 {
    margin-right: 2.5rem !important;
  }
  .m-b-md-25 {
    margin-bottom: 2.5rem !important;
  }
  .m-l-md-25 {
    margin-left: 2.5rem !important;
  }
  .m-md-30 {
    margin: 3rem !important;
  }
  .m-t-md-30 {
    margin-top: 3rem !important;
  }
  .m-r-md-30 {
    margin-right: 3rem !important;
  }
  .m-b-md-30 {
    margin-bottom: 3rem !important;
  }
  .m-l-md-30 {
    margin-left: 3rem !important;
  }
  .m-md-35 {
    margin: 3.5rem !important;
  }
  .m-t-md-35 {
    margin-top: 3.5rem !important;
  }
  .m-r-md-35 {
    margin-right: 3.5rem !important;
  }
  .m-b-md-35 {
    margin-bottom: 3.5rem !important;
  }
  .m-l-md-35 {
    margin-left: 3.5rem !important;
  }
  .m-md-40 {
    margin: 4rem !important;
  }
  .m-t-md-40 {
    margin-top: 4rem !important;
  }
  .m-r-md-40 {
    margin-right: 4rem !important;
  }
  .m-b-md-40 {
    margin-bottom: 4rem !important;
  }
  .m-l-md-40 {
    margin-left: 4rem !important;
  }
  .m-md-45 {
    margin: 4.5rem !important;
  }
  .m-t-md-45 {
    margin-top: 4.5rem !important;
  }
  .m-r-md-45 {
    margin-right: 4.5rem !important;
  }
  .m-b-md-45 {
    margin-bottom: 4.5rem !important;
  }
  .m-l-md-45 {
    margin-left: 4.5rem !important;
  }
  .m-md-50 {
    margin: 5rem !important;
  }
  .m-t-md-50 {
    margin-top: 5rem !important;
  }
  .m-r-md-50 {
    margin-right: 5rem !important;
  }
  .m-b-md-50 {
    margin-bottom: 5rem !important;
  }
  .m-l-md-50 {
    margin-left: 5rem !important;
  }
  .m-md-55 {
    margin: 5.5rem !important;
  }
  .m-t-md-55 {
    margin-top: 5.5rem !important;
  }
  .m-r-md-55 {
    margin-right: 5.5rem !important;
  }
  .m-b-md-55 {
    margin-bottom: 5.5rem !important;
  }
  .m-l-md-55 {
    margin-left: 5.5rem !important;
  }
  .m-md-60 {
    margin: 6rem !important;
  }
  .m-t-md-60 {
    margin-top: 6rem !important;
  }
  .m-r-md-60 {
    margin-right: 6rem !important;
  }
  .m-b-md-60 {
    margin-bottom: 6rem !important;
  }
  .m-l-md-60 {
    margin-left: 6rem !important;
  }
  .m-md-65 {
    margin: 6.5rem !important;
  }
  .m-t-md-65 {
    margin-top: 6.5rem !important;
  }
  .m-r-md-65 {
    margin-right: 6.5rem !important;
  }
  .m-b-md-65 {
    margin-bottom: 6.5rem !important;
  }
  .m-l-md-65 {
    margin-left: 6.5rem !important;
  }
  .m-md-70 {
    margin: 7rem !important;
  }
  .m-t-md-70 {
    margin-top: 7rem !important;
  }
  .m-r-md-70 {
    margin-right: 7rem !important;
  }
  .m-b-md-70 {
    margin-bottom: 7rem !important;
  }
  .m-l-md-70 {
    margin-left: 7rem !important;
  }
  .m-md-75 {
    margin: 7.5rem !important;
  }
  .m-t-md-75 {
    margin-top: 7.5rem !important;
  }
  .m-r-md-75 {
    margin-right: 7.5rem !important;
  }
  .m-b-md-75 {
    margin-bottom: 7.5rem !important;
  }
  .m-l-md-75 {
    margin-left: 7.5rem !important;
  }
  .m-md-80 {
    margin: 8rem !important;
  }
  .m-t-md-80 {
    margin-top: 8rem !important;
  }
  .m-r-md-80 {
    margin-right: 8rem !important;
  }
  .m-b-md-80 {
    margin-bottom: 8rem !important;
  }
  .m-l-md-80 {
    margin-left: 8rem !important;
  }
  .m-md-85 {
    margin: 8.5rem !important;
  }
  .m-t-md-85 {
    margin-top: 8.5rem !important;
  }
  .m-r-md-85 {
    margin-right: 8.5rem !important;
  }
  .m-b-md-85 {
    margin-bottom: 8.5rem !important;
  }
  .m-l-md-85 {
    margin-left: 8.5rem !important;
  }
  .m-md-90 {
    margin: 9rem !important;
  }
  .m-t-md-90 {
    margin-top: 9rem !important;
  }
  .m-r-md-90 {
    margin-right: 9rem !important;
  }
  .m-b-md-90 {
    margin-bottom: 9rem !important;
  }
  .m-l-md-90 {
    margin-left: 9rem !important;
  }
  .m-md-95 {
    margin: 9.5rem !important;
  }
  .m-t-md-95 {
    margin-top: 9.5rem !important;
  }
  .m-r-md-95 {
    margin-right: 9.5rem !important;
  }
  .m-b-md-95 {
    margin-bottom: 9.5rem !important;
  }
  .m-l-md-95 {
    margin-left: 9.5rem !important;
  }
  .m-md-100 {
    margin: 10rem !important;
  }
  .m-t-md-100 {
    margin-top: 10rem !important;
  }
  .m-r-md-100 {
    margin-right: 10rem !important;
  }
  .m-b-md-100 {
    margin-bottom: 10rem !important;
  }
  .m-l-md-100 {
    margin-left: 10rem !important;
  }
}
@media (min-width: 1200px) {
  .m-lg-0 {
    margin: 0rem !important;
  }
  .m-t-lg-0 {
    margin-top: 0rem !important;
  }
  .m-r-lg-0 {
    margin-right: 0rem !important;
  }
  .m-b-lg-0 {
    margin-bottom: 0rem !important;
  }
  .m-l-lg-0 {
    margin-left: 0rem !important;
  }
  .m-lg-5 {
    margin: 0.5rem !important;
  }
  .m-t-lg-5 {
    margin-top: 0.5rem !important;
  }
  .m-r-lg-5 {
    margin-right: 0.5rem !important;
  }
  .m-b-lg-5 {
    margin-bottom: 0.5rem !important;
  }
  .m-l-lg-5 {
    margin-left: 0.5rem !important;
  }
  .m-lg-10 {
    margin: 1rem !important;
  }
  .m-t-lg-10 {
    margin-top: 1rem !important;
  }
  .m-r-lg-10 {
    margin-right: 1rem !important;
  }
  .m-b-lg-10 {
    margin-bottom: 1rem !important;
  }
  .m-l-lg-10 {
    margin-left: 1rem !important;
  }
  .m-lg-15 {
    margin: 1.5rem !important;
  }
  .m-t-lg-15 {
    margin-top: 1.5rem !important;
  }
  .m-r-lg-15 {
    margin-right: 1.5rem !important;
  }
  .m-b-lg-15 {
    margin-bottom: 1.5rem !important;
  }
  .m-l-lg-15 {
    margin-left: 1.5rem !important;
  }
  .m-lg-20 {
    margin: 2rem !important;
  }
  .m-t-lg-20 {
    margin-top: 2rem !important;
  }
  .m-r-lg-20 {
    margin-right: 2rem !important;
  }
  .m-b-lg-20 {
    margin-bottom: 2rem !important;
  }
  .m-l-lg-20 {
    margin-left: 2rem !important;
  }
  .m-lg-25 {
    margin: 2.5rem !important;
  }
  .m-t-lg-25 {
    margin-top: 2.5rem !important;
  }
  .m-r-lg-25 {
    margin-right: 2.5rem !important;
  }
  .m-b-lg-25 {
    margin-bottom: 2.5rem !important;
  }
  .m-l-lg-25 {
    margin-left: 2.5rem !important;
  }
  .m-lg-30 {
    margin: 3rem !important;
  }
  .m-t-lg-30 {
    margin-top: 3rem !important;
  }
  .m-r-lg-30 {
    margin-right: 3rem !important;
  }
  .m-b-lg-30 {
    margin-bottom: 3rem !important;
  }
  .m-l-lg-30 {
    margin-left: 3rem !important;
  }
  .m-lg-35 {
    margin: 3.5rem !important;
  }
  .m-t-lg-35 {
    margin-top: 3.5rem !important;
  }
  .m-r-lg-35 {
    margin-right: 3.5rem !important;
  }
  .m-b-lg-35 {
    margin-bottom: 3.5rem !important;
  }
  .m-l-lg-35 {
    margin-left: 3.5rem !important;
  }
  .m-lg-40 {
    margin: 4rem !important;
  }
  .m-t-lg-40 {
    margin-top: 4rem !important;
  }
  .m-r-lg-40 {
    margin-right: 4rem !important;
  }
  .m-b-lg-40 {
    margin-bottom: 4rem !important;
  }
  .m-l-lg-40 {
    margin-left: 4rem !important;
  }
  .m-lg-45 {
    margin: 4.5rem !important;
  }
  .m-t-lg-45 {
    margin-top: 4.5rem !important;
  }
  .m-r-lg-45 {
    margin-right: 4.5rem !important;
  }
  .m-b-lg-45 {
    margin-bottom: 4.5rem !important;
  }
  .m-l-lg-45 {
    margin-left: 4.5rem !important;
  }
  .m-lg-50 {
    margin: 5rem !important;
  }
  .m-t-lg-50 {
    margin-top: 5rem !important;
  }
  .m-r-lg-50 {
    margin-right: 5rem !important;
  }
  .m-b-lg-50 {
    margin-bottom: 5rem !important;
  }
  .m-l-lg-50 {
    margin-left: 5rem !important;
  }
  .m-lg-55 {
    margin: 5.5rem !important;
  }
  .m-t-lg-55 {
    margin-top: 5.5rem !important;
  }
  .m-r-lg-55 {
    margin-right: 5.5rem !important;
  }
  .m-b-lg-55 {
    margin-bottom: 5.5rem !important;
  }
  .m-l-lg-55 {
    margin-left: 5.5rem !important;
  }
  .m-lg-60 {
    margin: 6rem !important;
  }
  .m-t-lg-60 {
    margin-top: 6rem !important;
  }
  .m-r-lg-60 {
    margin-right: 6rem !important;
  }
  .m-b-lg-60 {
    margin-bottom: 6rem !important;
  }
  .m-l-lg-60 {
    margin-left: 6rem !important;
  }
  .m-lg-65 {
    margin: 6.5rem !important;
  }
  .m-t-lg-65 {
    margin-top: 6.5rem !important;
  }
  .m-r-lg-65 {
    margin-right: 6.5rem !important;
  }
  .m-b-lg-65 {
    margin-bottom: 6.5rem !important;
  }
  .m-l-lg-65 {
    margin-left: 6.5rem !important;
  }
  .m-lg-70 {
    margin: 7rem !important;
  }
  .m-t-lg-70 {
    margin-top: 7rem !important;
  }
  .m-r-lg-70 {
    margin-right: 7rem !important;
  }
  .m-b-lg-70 {
    margin-bottom: 7rem !important;
  }
  .m-l-lg-70 {
    margin-left: 7rem !important;
  }
  .m-lg-75 {
    margin: 7.5rem !important;
  }
  .m-t-lg-75 {
    margin-top: 7.5rem !important;
  }
  .m-r-lg-75 {
    margin-right: 7.5rem !important;
  }
  .m-b-lg-75 {
    margin-bottom: 7.5rem !important;
  }
  .m-l-lg-75 {
    margin-left: 7.5rem !important;
  }
  .m-lg-80 {
    margin: 8rem !important;
  }
  .m-t-lg-80 {
    margin-top: 8rem !important;
  }
  .m-r-lg-80 {
    margin-right: 8rem !important;
  }
  .m-b-lg-80 {
    margin-bottom: 8rem !important;
  }
  .m-l-lg-80 {
    margin-left: 8rem !important;
  }
  .m-lg-85 {
    margin: 8.5rem !important;
  }
  .m-t-lg-85 {
    margin-top: 8.5rem !important;
  }
  .m-r-lg-85 {
    margin-right: 8.5rem !important;
  }
  .m-b-lg-85 {
    margin-bottom: 8.5rem !important;
  }
  .m-l-lg-85 {
    margin-left: 8.5rem !important;
  }
  .m-lg-90 {
    margin: 9rem !important;
  }
  .m-t-lg-90 {
    margin-top: 9rem !important;
  }
  .m-r-lg-90 {
    margin-right: 9rem !important;
  }
  .m-b-lg-90 {
    margin-bottom: 9rem !important;
  }
  .m-l-lg-90 {
    margin-left: 9rem !important;
  }
  .m-lg-95 {
    margin: 9.5rem !important;
  }
  .m-t-lg-95 {
    margin-top: 9.5rem !important;
  }
  .m-r-lg-95 {
    margin-right: 9.5rem !important;
  }
  .m-b-lg-95 {
    margin-bottom: 9.5rem !important;
  }
  .m-l-lg-95 {
    margin-left: 9.5rem !important;
  }
  .m-lg-100 {
    margin: 10rem !important;
  }
  .m-t-lg-100 {
    margin-top: 10rem !important;
  }
  .m-r-lg-100 {
    margin-right: 10rem !important;
  }
  .m-b-lg-100 {
    margin-bottom: 10rem !important;
  }
  .m-l-lg-100 {
    margin-left: 10rem !important;
  }
}
.p-xs-0 {
  padding: 0rem !important;
}
.p-t-xs-0 {
  padding-top: 0rem !important;
}
.p-r-xs-0 {
  padding-right: 0rem !important;
}
.p-b-xs-0 {
  padding-bottom: 0rem !important;
}
.p-l-xs-0 {
  padding-left: 0rem !important;
}
.p-xs-5 {
  padding: 0.5rem !important;
}
.p-t-xs-5 {
  padding-top: 0.5rem !important;
}
.p-r-xs-5 {
  padding-right: 0.5rem !important;
}
.p-b-xs-5 {
  padding-bottom: 0.5rem !important;
}
.p-l-xs-5 {
  padding-left: 0.5rem !important;
}
.p-xs-10 {
  padding: 1rem !important;
}
.p-t-xs-10 {
  padding-top: 1rem !important;
}
.p-r-xs-10 {
  padding-right: 1rem !important;
}
.p-b-xs-10 {
  padding-bottom: 1rem !important;
}
.p-l-xs-10 {
  padding-left: 1rem !important;
}
.p-xs-15 {
  padding: 1.5rem !important;
}
.p-t-xs-15 {
  padding-top: 1.5rem !important;
}
.p-r-xs-15 {
  padding-right: 1.5rem !important;
}
.p-b-xs-15 {
  padding-bottom: 1.5rem !important;
}
.p-l-xs-15 {
  padding-left: 1.5rem !important;
}
.p-xs-20 {
  padding: 2rem !important;
}
.p-t-xs-20 {
  padding-top: 2rem !important;
}
.p-r-xs-20 {
  padding-right: 2rem !important;
}
.p-b-xs-20 {
  padding-bottom: 2rem !important;
}
.p-l-xs-20 {
  padding-left: 2rem !important;
}
.p-xs-25 {
  padding: 2.5rem !important;
}
.p-t-xs-25 {
  padding-top: 2.5rem !important;
}
.p-r-xs-25 {
  padding-right: 2.5rem !important;
}
.p-b-xs-25 {
  padding-bottom: 2.5rem !important;
}
.p-l-xs-25 {
  padding-left: 2.5rem !important;
}
.p-xs-30 {
  padding: 3rem !important;
}
.p-t-xs-30 {
  padding-top: 3rem !important;
}
.p-r-xs-30 {
  padding-right: 3rem !important;
}
.p-b-xs-30 {
  padding-bottom: 3rem !important;
}
.p-l-xs-30 {
  padding-left: 3rem !important;
}
.p-xs-35 {
  padding: 3.5rem !important;
}
.p-t-xs-35 {
  padding-top: 3.5rem !important;
}
.p-r-xs-35 {
  padding-right: 3.5rem !important;
}
.p-b-xs-35 {
  padding-bottom: 3.5rem !important;
}
.p-l-xs-35 {
  padding-left: 3.5rem !important;
}
.p-xs-40 {
  padding: 4rem !important;
}
.p-t-xs-40 {
  padding-top: 4rem !important;
}
.p-r-xs-40 {
  padding-right: 4rem !important;
}
.p-b-xs-40 {
  padding-bottom: 4rem !important;
}
.p-l-xs-40 {
  padding-left: 4rem !important;
}
.p-xs-45 {
  padding: 4.5rem !important;
}
.p-t-xs-45 {
  padding-top: 4.5rem !important;
}
.p-r-xs-45 {
  padding-right: 4.5rem !important;
}
.p-b-xs-45 {
  padding-bottom: 4.5rem !important;
}
.p-l-xs-45 {
  padding-left: 4.5rem !important;
}
.p-xs-50 {
  padding: 5rem !important;
}
.p-t-xs-50 {
  padding-top: 5rem !important;
}
.p-r-xs-50 {
  padding-right: 5rem !important;
}
.p-b-xs-50 {
  padding-bottom: 5rem !important;
}
.p-l-xs-50 {
  padding-left: 5rem !important;
}
.p-xs-55 {
  padding: 5.5rem !important;
}
.p-t-xs-55 {
  padding-top: 5.5rem !important;
}
.p-r-xs-55 {
  padding-right: 5.5rem !important;
}
.p-b-xs-55 {
  padding-bottom: 5.5rem !important;
}
.p-l-xs-55 {
  padding-left: 5.5rem !important;
}
.p-xs-60 {
  padding: 6rem !important;
}
.p-t-xs-60 {
  padding-top: 6rem !important;
}
.p-r-xs-60 {
  padding-right: 6rem !important;
}
.p-b-xs-60 {
  padding-bottom: 6rem !important;
}
.p-l-xs-60 {
  padding-left: 6rem !important;
}
.p-xs-65 {
  padding: 6.5rem !important;
}
.p-t-xs-65 {
  padding-top: 6.5rem !important;
}
.p-r-xs-65 {
  padding-right: 6.5rem !important;
}
.p-b-xs-65 {
  padding-bottom: 6.5rem !important;
}
.p-l-xs-65 {
  padding-left: 6.5rem !important;
}
.p-xs-70 {
  padding: 7rem !important;
}
.p-t-xs-70 {
  padding-top: 7rem !important;
}
.p-r-xs-70 {
  padding-right: 7rem !important;
}
.p-b-xs-70 {
  padding-bottom: 7rem !important;
}
.p-l-xs-70 {
  padding-left: 7rem !important;
}
.p-xs-75 {
  padding: 7.5rem !important;
}
.p-t-xs-75 {
  padding-top: 7.5rem !important;
}
.p-r-xs-75 {
  padding-right: 7.5rem !important;
}
.p-b-xs-75 {
  padding-bottom: 7.5rem !important;
}
.p-l-xs-75 {
  padding-left: 7.5rem !important;
}
.p-xs-80 {
  padding: 8rem !important;
}
.p-t-xs-80 {
  padding-top: 8rem !important;
}
.p-r-xs-80 {
  padding-right: 8rem !important;
}
.p-b-xs-80 {
  padding-bottom: 8rem !important;
}
.p-l-xs-80 {
  padding-left: 8rem !important;
}
.p-xs-85 {
  padding: 8.5rem !important;
}
.p-t-xs-85 {
  padding-top: 8.5rem !important;
}
.p-r-xs-85 {
  padding-right: 8.5rem !important;
}
.p-b-xs-85 {
  padding-bottom: 8.5rem !important;
}
.p-l-xs-85 {
  padding-left: 8.5rem !important;
}
.p-xs-90 {
  padding: 9rem !important;
}
.p-t-xs-90 {
  padding-top: 9rem !important;
}
.p-r-xs-90 {
  padding-right: 9rem !important;
}
.p-b-xs-90 {
  padding-bottom: 9rem !important;
}
.p-l-xs-90 {
  padding-left: 9rem !important;
}
.p-xs-95 {
  padding: 9.5rem !important;
}
.p-t-xs-95 {
  padding-top: 9.5rem !important;
}
.p-r-xs-95 {
  padding-right: 9.5rem !important;
}
.p-b-xs-95 {
  padding-bottom: 9.5rem !important;
}
.p-l-xs-95 {
  padding-left: 9.5rem !important;
}
.p-xs-100 {
  padding: 10rem !important;
}
.p-t-xs-100 {
  padding-top: 10rem !important;
}
.p-r-xs-100 {
  padding-right: 10rem !important;
}
.p-b-xs-100 {
  padding-bottom: 10rem !important;
}
.p-l-xs-100 {
  padding-left: 10rem !important;
}
@media (min-width: 768px) {
  .p-sm-0 {
    padding: 0rem !important;
  }
  .p-t-sm-0 {
    padding-top: 0rem !important;
  }
  .p-r-sm-0 {
    padding-right: 0rem !important;
  }
  .p-b-sm-0 {
    padding-bottom: 0rem !important;
  }
  .p-l-sm-0 {
    padding-left: 0rem !important;
  }
  .p-sm-5 {
    padding: 0.5rem !important;
  }
  .p-t-sm-5 {
    padding-top: 0.5rem !important;
  }
  .p-r-sm-5 {
    padding-right: 0.5rem !important;
  }
  .p-b-sm-5 {
    padding-bottom: 0.5rem !important;
  }
  .p-l-sm-5 {
    padding-left: 0.5rem !important;
  }
  .p-sm-10 {
    padding: 1rem !important;
  }
  .p-t-sm-10 {
    padding-top: 1rem !important;
  }
  .p-r-sm-10 {
    padding-right: 1rem !important;
  }
  .p-b-sm-10 {
    padding-bottom: 1rem !important;
  }
  .p-l-sm-10 {
    padding-left: 1rem !important;
  }
  .p-sm-15 {
    padding: 1.5rem !important;
  }
  .p-t-sm-15 {
    padding-top: 1.5rem !important;
  }
  .p-r-sm-15 {
    padding-right: 1.5rem !important;
  }
  .p-b-sm-15 {
    padding-bottom: 1.5rem !important;
  }
  .p-l-sm-15 {
    padding-left: 1.5rem !important;
  }
  .p-sm-20 {
    padding: 2rem !important;
  }
  .p-t-sm-20 {
    padding-top: 2rem !important;
  }
  .p-r-sm-20 {
    padding-right: 2rem !important;
  }
  .p-b-sm-20 {
    padding-bottom: 2rem !important;
  }
  .p-l-sm-20 {
    padding-left: 2rem !important;
  }
  .p-sm-25 {
    padding: 2.5rem !important;
  }
  .p-t-sm-25 {
    padding-top: 2.5rem !important;
  }
  .p-r-sm-25 {
    padding-right: 2.5rem !important;
  }
  .p-b-sm-25 {
    padding-bottom: 2.5rem !important;
  }
  .p-l-sm-25 {
    padding-left: 2.5rem !important;
  }
  .p-sm-30 {
    padding: 3rem !important;
  }
  .p-t-sm-30 {
    padding-top: 3rem !important;
  }
  .p-r-sm-30 {
    padding-right: 3rem !important;
  }
  .p-b-sm-30 {
    padding-bottom: 3rem !important;
  }
  .p-l-sm-30 {
    padding-left: 3rem !important;
  }
  .p-sm-35 {
    padding: 3.5rem !important;
  }
  .p-t-sm-35 {
    padding-top: 3.5rem !important;
  }
  .p-r-sm-35 {
    padding-right: 3.5rem !important;
  }
  .p-b-sm-35 {
    padding-bottom: 3.5rem !important;
  }
  .p-l-sm-35 {
    padding-left: 3.5rem !important;
  }
  .p-sm-40 {
    padding: 4rem !important;
  }
  .p-t-sm-40 {
    padding-top: 4rem !important;
  }
  .p-r-sm-40 {
    padding-right: 4rem !important;
  }
  .p-b-sm-40 {
    padding-bottom: 4rem !important;
  }
  .p-l-sm-40 {
    padding-left: 4rem !important;
  }
  .p-sm-45 {
    padding: 4.5rem !important;
  }
  .p-t-sm-45 {
    padding-top: 4.5rem !important;
  }
  .p-r-sm-45 {
    padding-right: 4.5rem !important;
  }
  .p-b-sm-45 {
    padding-bottom: 4.5rem !important;
  }
  .p-l-sm-45 {
    padding-left: 4.5rem !important;
  }
  .p-sm-50 {
    padding: 5rem !important;
  }
  .p-t-sm-50 {
    padding-top: 5rem !important;
  }
  .p-r-sm-50 {
    padding-right: 5rem !important;
  }
  .p-b-sm-50 {
    padding-bottom: 5rem !important;
  }
  .p-l-sm-50 {
    padding-left: 5rem !important;
  }
  .p-sm-55 {
    padding: 5.5rem !important;
  }
  .p-t-sm-55 {
    padding-top: 5.5rem !important;
  }
  .p-r-sm-55 {
    padding-right: 5.5rem !important;
  }
  .p-b-sm-55 {
    padding-bottom: 5.5rem !important;
  }
  .p-l-sm-55 {
    padding-left: 5.5rem !important;
  }
  .p-sm-60 {
    padding: 6rem !important;
  }
  .p-t-sm-60 {
    padding-top: 6rem !important;
  }
  .p-r-sm-60 {
    padding-right: 6rem !important;
  }
  .p-b-sm-60 {
    padding-bottom: 6rem !important;
  }
  .p-l-sm-60 {
    padding-left: 6rem !important;
  }
  .p-sm-65 {
    padding: 6.5rem !important;
  }
  .p-t-sm-65 {
    padding-top: 6.5rem !important;
  }
  .p-r-sm-65 {
    padding-right: 6.5rem !important;
  }
  .p-b-sm-65 {
    padding-bottom: 6.5rem !important;
  }
  .p-l-sm-65 {
    padding-left: 6.5rem !important;
  }
  .p-sm-70 {
    padding: 7rem !important;
  }
  .p-t-sm-70 {
    padding-top: 7rem !important;
  }
  .p-r-sm-70 {
    padding-right: 7rem !important;
  }
  .p-b-sm-70 {
    padding-bottom: 7rem !important;
  }
  .p-l-sm-70 {
    padding-left: 7rem !important;
  }
  .p-sm-75 {
    padding: 7.5rem !important;
  }
  .p-t-sm-75 {
    padding-top: 7.5rem !important;
  }
  .p-r-sm-75 {
    padding-right: 7.5rem !important;
  }
  .p-b-sm-75 {
    padding-bottom: 7.5rem !important;
  }
  .p-l-sm-75 {
    padding-left: 7.5rem !important;
  }
  .p-sm-80 {
    padding: 8rem !important;
  }
  .p-t-sm-80 {
    padding-top: 8rem !important;
  }
  .p-r-sm-80 {
    padding-right: 8rem !important;
  }
  .p-b-sm-80 {
    padding-bottom: 8rem !important;
  }
  .p-l-sm-80 {
    padding-left: 8rem !important;
  }
  .p-sm-85 {
    padding: 8.5rem !important;
  }
  .p-t-sm-85 {
    padding-top: 8.5rem !important;
  }
  .p-r-sm-85 {
    padding-right: 8.5rem !important;
  }
  .p-b-sm-85 {
    padding-bottom: 8.5rem !important;
  }
  .p-l-sm-85 {
    padding-left: 8.5rem !important;
  }
  .p-sm-90 {
    padding: 9rem !important;
  }
  .p-t-sm-90 {
    padding-top: 9rem !important;
  }
  .p-r-sm-90 {
    padding-right: 9rem !important;
  }
  .p-b-sm-90 {
    padding-bottom: 9rem !important;
  }
  .p-l-sm-90 {
    padding-left: 9rem !important;
  }
  .p-sm-95 {
    padding: 9.5rem !important;
  }
  .p-t-sm-95 {
    padding-top: 9.5rem !important;
  }
  .p-r-sm-95 {
    padding-right: 9.5rem !important;
  }
  .p-b-sm-95 {
    padding-bottom: 9.5rem !important;
  }
  .p-l-sm-95 {
    padding-left: 9.5rem !important;
  }
  .p-sm-100 {
    padding: 10rem !important;
  }
  .p-t-sm-100 {
    padding-top: 10rem !important;
  }
  .p-r-sm-100 {
    padding-right: 10rem !important;
  }
  .p-b-sm-100 {
    padding-bottom: 10rem !important;
  }
  .p-l-sm-100 {
    padding-left: 10rem !important;
  }
}
@media (min-width: 992px) {
  .p-md-0 {
    padding: 0rem !important;
  }
  .p-t-md-0 {
    padding-top: 0rem !important;
  }
  .p-r-md-0 {
    padding-right: 0rem !important;
  }
  .p-b-md-0 {
    padding-bottom: 0rem !important;
  }
  .p-l-md-0 {
    padding-left: 0rem !important;
  }
  .p-md-5 {
    padding: 0.5rem !important;
  }
  .p-t-md-5 {
    padding-top: 0.5rem !important;
  }
  .p-r-md-5 {
    padding-right: 0.5rem !important;
  }
  .p-b-md-5 {
    padding-bottom: 0.5rem !important;
  }
  .p-l-md-5 {
    padding-left: 0.5rem !important;
  }
  .p-md-10 {
    padding: 1rem !important;
  }
  .p-t-md-10 {
    padding-top: 1rem !important;
  }
  .p-r-md-10 {
    padding-right: 1rem !important;
  }
  .p-b-md-10 {
    padding-bottom: 1rem !important;
  }
  .p-l-md-10 {
    padding-left: 1rem !important;
  }
  .p-md-15 {
    padding: 1.5rem !important;
  }
  .p-t-md-15 {
    padding-top: 1.5rem !important;
  }
  .p-r-md-15 {
    padding-right: 1.5rem !important;
  }
  .p-b-md-15 {
    padding-bottom: 1.5rem !important;
  }
  .p-l-md-15 {
    padding-left: 1.5rem !important;
  }
  .p-md-20 {
    padding: 2rem !important;
  }
  .p-t-md-20 {
    padding-top: 2rem !important;
  }
  .p-r-md-20 {
    padding-right: 2rem !important;
  }
  .p-b-md-20 {
    padding-bottom: 2rem !important;
  }
  .p-l-md-20 {
    padding-left: 2rem !important;
  }
  .p-md-25 {
    padding: 2.5rem !important;
  }
  .p-t-md-25 {
    padding-top: 2.5rem !important;
  }
  .p-r-md-25 {
    padding-right: 2.5rem !important;
  }
  .p-b-md-25 {
    padding-bottom: 2.5rem !important;
  }
  .p-l-md-25 {
    padding-left: 2.5rem !important;
  }
  .p-md-30 {
    padding: 3rem !important;
  }
  .p-t-md-30 {
    padding-top: 3rem !important;
  }
  .p-r-md-30 {
    padding-right: 3rem !important;
  }
  .p-b-md-30 {
    padding-bottom: 3rem !important;
  }
  .p-l-md-30 {
    padding-left: 3rem !important;
  }
  .p-md-35 {
    padding: 3.5rem !important;
  }
  .p-t-md-35 {
    padding-top: 3.5rem !important;
  }
  .p-r-md-35 {
    padding-right: 3.5rem !important;
  }
  .p-b-md-35 {
    padding-bottom: 3.5rem !important;
  }
  .p-l-md-35 {
    padding-left: 3.5rem !important;
  }
  .p-md-40 {
    padding: 4rem !important;
  }
  .p-t-md-40 {
    padding-top: 4rem !important;
  }
  .p-r-md-40 {
    padding-right: 4rem !important;
  }
  .p-b-md-40 {
    padding-bottom: 4rem !important;
  }
  .p-l-md-40 {
    padding-left: 4rem !important;
  }
  .p-md-45 {
    padding: 4.5rem !important;
  }
  .p-t-md-45 {
    padding-top: 4.5rem !important;
  }
  .p-r-md-45 {
    padding-right: 4.5rem !important;
  }
  .p-b-md-45 {
    padding-bottom: 4.5rem !important;
  }
  .p-l-md-45 {
    padding-left: 4.5rem !important;
  }
  .p-md-50 {
    padding: 5rem !important;
  }
  .p-t-md-50 {
    padding-top: 5rem !important;
  }
  .p-r-md-50 {
    padding-right: 5rem !important;
  }
  .p-b-md-50 {
    padding-bottom: 5rem !important;
  }
  .p-l-md-50 {
    padding-left: 5rem !important;
  }
  .p-md-55 {
    padding: 5.5rem !important;
  }
  .p-t-md-55 {
    padding-top: 5.5rem !important;
  }
  .p-r-md-55 {
    padding-right: 5.5rem !important;
  }
  .p-b-md-55 {
    padding-bottom: 5.5rem !important;
  }
  .p-l-md-55 {
    padding-left: 5.5rem !important;
  }
  .p-md-60 {
    padding: 6rem !important;
  }
  .p-t-md-60 {
    padding-top: 6rem !important;
  }
  .p-r-md-60 {
    padding-right: 6rem !important;
  }
  .p-b-md-60 {
    padding-bottom: 6rem !important;
  }
  .p-l-md-60 {
    padding-left: 6rem !important;
  }
  .p-md-65 {
    padding: 6.5rem !important;
  }
  .p-t-md-65 {
    padding-top: 6.5rem !important;
  }
  .p-r-md-65 {
    padding-right: 6.5rem !important;
  }
  .p-b-md-65 {
    padding-bottom: 6.5rem !important;
  }
  .p-l-md-65 {
    padding-left: 6.5rem !important;
  }
  .p-md-70 {
    padding: 7rem !important;
  }
  .p-t-md-70 {
    padding-top: 7rem !important;
  }
  .p-r-md-70 {
    padding-right: 7rem !important;
  }
  .p-b-md-70 {
    padding-bottom: 7rem !important;
  }
  .p-l-md-70 {
    padding-left: 7rem !important;
  }
  .p-md-75 {
    padding: 7.5rem !important;
  }
  .p-t-md-75 {
    padding-top: 7.5rem !important;
  }
  .p-r-md-75 {
    padding-right: 7.5rem !important;
  }
  .p-b-md-75 {
    padding-bottom: 7.5rem !important;
  }
  .p-l-md-75 {
    padding-left: 7.5rem !important;
  }
  .p-md-80 {
    padding: 8rem !important;
  }
  .p-t-md-80 {
    padding-top: 8rem !important;
  }
  .p-r-md-80 {
    padding-right: 8rem !important;
  }
  .p-b-md-80 {
    padding-bottom: 8rem !important;
  }
  .p-l-md-80 {
    padding-left: 8rem !important;
  }
  .p-md-85 {
    padding: 8.5rem !important;
  }
  .p-t-md-85 {
    padding-top: 8.5rem !important;
  }
  .p-r-md-85 {
    padding-right: 8.5rem !important;
  }
  .p-b-md-85 {
    padding-bottom: 8.5rem !important;
  }
  .p-l-md-85 {
    padding-left: 8.5rem !important;
  }
  .p-md-90 {
    padding: 9rem !important;
  }
  .p-t-md-90 {
    padding-top: 9rem !important;
  }
  .p-r-md-90 {
    padding-right: 9rem !important;
  }
  .p-b-md-90 {
    padding-bottom: 9rem !important;
  }
  .p-l-md-90 {
    padding-left: 9rem !important;
  }
  .p-md-95 {
    padding: 9.5rem !important;
  }
  .p-t-md-95 {
    padding-top: 9.5rem !important;
  }
  .p-r-md-95 {
    padding-right: 9.5rem !important;
  }
  .p-b-md-95 {
    padding-bottom: 9.5rem !important;
  }
  .p-l-md-95 {
    padding-left: 9.5rem !important;
  }
  .p-md-100 {
    padding: 10rem !important;
  }
  .p-t-md-100 {
    padding-top: 10rem !important;
  }
  .p-r-md-100 {
    padding-right: 10rem !important;
  }
  .p-b-md-100 {
    padding-bottom: 10rem !important;
  }
  .p-l-md-100 {
    padding-left: 10rem !important;
  }
}
@media (min-width: 1200px) {
  .p-lg-0 {
    padding: 0rem !important;
  }
  .p-t-lg-0 {
    padding-top: 0rem !important;
  }
  .p-r-lg-0 {
    padding-right: 0rem !important;
  }
  .p-b-lg-0 {
    padding-bottom: 0rem !important;
  }
  .p-l-lg-0 {
    padding-left: 0rem !important;
  }
  .p-lg-5 {
    padding: 0.5rem !important;
  }
  .p-t-lg-5 {
    padding-top: 0.5rem !important;
  }
  .p-r-lg-5 {
    padding-right: 0.5rem !important;
  }
  .p-b-lg-5 {
    padding-bottom: 0.5rem !important;
  }
  .p-l-lg-5 {
    padding-left: 0.5rem !important;
  }
  .p-lg-10 {
    padding: 1rem !important;
  }
  .p-t-lg-10 {
    padding-top: 1rem !important;
  }
  .p-r-lg-10 {
    padding-right: 1rem !important;
  }
  .p-b-lg-10 {
    padding-bottom: 1rem !important;
  }
  .p-l-lg-10 {
    padding-left: 1rem !important;
  }
  .p-lg-15 {
    padding: 1.5rem !important;
  }
  .p-t-lg-15 {
    padding-top: 1.5rem !important;
  }
  .p-r-lg-15 {
    padding-right: 1.5rem !important;
  }
  .p-b-lg-15 {
    padding-bottom: 1.5rem !important;
  }
  .p-l-lg-15 {
    padding-left: 1.5rem !important;
  }
  .p-lg-20 {
    padding: 2rem !important;
  }
  .p-t-lg-20 {
    padding-top: 2rem !important;
  }
  .p-r-lg-20 {
    padding-right: 2rem !important;
  }
  .p-b-lg-20 {
    padding-bottom: 2rem !important;
  }
  .p-l-lg-20 {
    padding-left: 2rem !important;
  }
  .p-lg-25 {
    padding: 2.5rem !important;
  }
  .p-t-lg-25 {
    padding-top: 2.5rem !important;
  }
  .p-r-lg-25 {
    padding-right: 2.5rem !important;
  }
  .p-b-lg-25 {
    padding-bottom: 2.5rem !important;
  }
  .p-l-lg-25 {
    padding-left: 2.5rem !important;
  }
  .p-lg-30 {
    padding: 3rem !important;
  }
  .p-t-lg-30 {
    padding-top: 3rem !important;
  }
  .p-r-lg-30 {
    padding-right: 3rem !important;
  }
  .p-b-lg-30 {
    padding-bottom: 3rem !important;
  }
  .p-l-lg-30 {
    padding-left: 3rem !important;
  }
  .p-lg-35 {
    padding: 3.5rem !important;
  }
  .p-t-lg-35 {
    padding-top: 3.5rem !important;
  }
  .p-r-lg-35 {
    padding-right: 3.5rem !important;
  }
  .p-b-lg-35 {
    padding-bottom: 3.5rem !important;
  }
  .p-l-lg-35 {
    padding-left: 3.5rem !important;
  }
  .p-lg-40 {
    padding: 4rem !important;
  }
  .p-t-lg-40 {
    padding-top: 4rem !important;
  }
  .p-r-lg-40 {
    padding-right: 4rem !important;
  }
  .p-b-lg-40 {
    padding-bottom: 4rem !important;
  }
  .p-l-lg-40 {
    padding-left: 4rem !important;
  }
  .p-lg-45 {
    padding: 4.5rem !important;
  }
  .p-t-lg-45 {
    padding-top: 4.5rem !important;
  }
  .p-r-lg-45 {
    padding-right: 4.5rem !important;
  }
  .p-b-lg-45 {
    padding-bottom: 4.5rem !important;
  }
  .p-l-lg-45 {
    padding-left: 4.5rem !important;
  }
  .p-lg-50 {
    padding: 5rem !important;
  }
  .p-t-lg-50 {
    padding-top: 5rem !important;
  }
  .p-r-lg-50 {
    padding-right: 5rem !important;
  }
  .p-b-lg-50 {
    padding-bottom: 5rem !important;
  }
  .p-l-lg-50 {
    padding-left: 5rem !important;
  }
  .p-lg-55 {
    padding: 5.5rem !important;
  }
  .p-t-lg-55 {
    padding-top: 5.5rem !important;
  }
  .p-r-lg-55 {
    padding-right: 5.5rem !important;
  }
  .p-b-lg-55 {
    padding-bottom: 5.5rem !important;
  }
  .p-l-lg-55 {
    padding-left: 5.5rem !important;
  }
  .p-lg-60 {
    padding: 6rem !important;
  }
  .p-t-lg-60 {
    padding-top: 6rem !important;
  }
  .p-r-lg-60 {
    padding-right: 6rem !important;
  }
  .p-b-lg-60 {
    padding-bottom: 6rem !important;
  }
  .p-l-lg-60 {
    padding-left: 6rem !important;
  }
  .p-lg-65 {
    padding: 6.5rem !important;
  }
  .p-t-lg-65 {
    padding-top: 6.5rem !important;
  }
  .p-r-lg-65 {
    padding-right: 6.5rem !important;
  }
  .p-b-lg-65 {
    padding-bottom: 6.5rem !important;
  }
  .p-l-lg-65 {
    padding-left: 6.5rem !important;
  }
  .p-lg-70 {
    padding: 7rem !important;
  }
  .p-t-lg-70 {
    padding-top: 7rem !important;
  }
  .p-r-lg-70 {
    padding-right: 7rem !important;
  }
  .p-b-lg-70 {
    padding-bottom: 7rem !important;
  }
  .p-l-lg-70 {
    padding-left: 7rem !important;
  }
  .p-lg-75 {
    padding: 7.5rem !important;
  }
  .p-t-lg-75 {
    padding-top: 7.5rem !important;
  }
  .p-r-lg-75 {
    padding-right: 7.5rem !important;
  }
  .p-b-lg-75 {
    padding-bottom: 7.5rem !important;
  }
  .p-l-lg-75 {
    padding-left: 7.5rem !important;
  }
  .p-lg-80 {
    padding: 8rem !important;
  }
  .p-t-lg-80 {
    padding-top: 8rem !important;
  }
  .p-r-lg-80 {
    padding-right: 8rem !important;
  }
  .p-b-lg-80 {
    padding-bottom: 8rem !important;
  }
  .p-l-lg-80 {
    padding-left: 8rem !important;
  }
  .p-lg-85 {
    padding: 8.5rem !important;
  }
  .p-t-lg-85 {
    padding-top: 8.5rem !important;
  }
  .p-r-lg-85 {
    padding-right: 8.5rem !important;
  }
  .p-b-lg-85 {
    padding-bottom: 8.5rem !important;
  }
  .p-l-lg-85 {
    padding-left: 8.5rem !important;
  }
  .p-lg-90 {
    padding: 9rem !important;
  }
  .p-t-lg-90 {
    padding-top: 9rem !important;
  }
  .p-r-lg-90 {
    padding-right: 9rem !important;
  }
  .p-b-lg-90 {
    padding-bottom: 9rem !important;
  }
  .p-l-lg-90 {
    padding-left: 9rem !important;
  }
  .p-lg-95 {
    padding: 9.5rem !important;
  }
  .p-t-lg-95 {
    padding-top: 9.5rem !important;
  }
  .p-r-lg-95 {
    padding-right: 9.5rem !important;
  }
  .p-b-lg-95 {
    padding-bottom: 9.5rem !important;
  }
  .p-l-lg-95 {
    padding-left: 9.5rem !important;
  }
  .p-lg-100 {
    padding: 10rem !important;
  }
  .p-t-lg-100 {
    padding-top: 10rem !important;
  }
  .p-r-lg-100 {
    padding-right: 10rem !important;
  }
  .p-b-lg-100 {
    padding-bottom: 10rem !important;
  }
  .p-l-lg-100 {
    padding-left: 10rem !important;
  }
}
