.active-dark-mode {
  background: var(--grey-dark-one);
  color: var(--grey-mid);
}
.active-dark-mode h1,
.active-dark-mode h2,
.active-dark-mode h3,
.active-dark-mode h4,
.active-dark-mode h5,
.active-dark-mode h6,
.active-dark-mode .h1,
.active-dark-mode .h2,
.active-dark-mode .h3,
.active-dark-mode .h4,
.active-dark-mode .h5,
.active-dark-mode .h6,
.active-dark-mode .navbar.bg-white .nav-search-field-toggler,
.active-dark-mode span.mini-cart,
.active-dark-mode .navbar__style-three .main-navigation li,
.active-dark-mode .navbar__style-three .nav-search-field-toggler {
  color: #fff;
}
.active-dark-mode .navbar.bg-white .side-nav-toggler span,
.active-dark-mode .close-sidenav-wrap .close-sidenav div,
.active-dark-mode .social-share__with-bg li a,
.active-dark-mode .navbar__style-three .side-nav-toggler span {
  background-color: #fff;
}
.active-dark-mode .navbar-search,
.active-dark-mode .side-nav {
  background-color: var(--grey-dark-five);
}
.active-dark-mode p {
  color: var(--grey-mid);
}
.active-dark-mode .post-metas ul {
  color: var(--grey-dark-four);
}
.active-dark-mode .bg-white {
  background: var(--grey-dark-one) !important;
}
.active-dark-mode .navbar {
  background: var(--grey-dark-five) !important;
  border: none;
}
.active-dark-mode .navbar.bg-white {
  border: none;
}
.active-dark-mode .submenu,
.active-dark-mode .navbar.bg-white .submenu {
  background: var(--grey-dark-five);
  top: 101%;
}
@media (max-width: 991px) {
  .active-dark-mode .submenu,
  .active-dark-mode .navbar.bg-white .submenu {
    background: transparent;
  }
}
.active-dark-mode .navbar-search input {
  border-color: var(--grey-dark-two);
  color: #fff;
}
.active-dark-mode .navbar.bg-white .main-navigation li {
  color: #fff;
}
.active-dark-mode .navbar-search .navbar-search-btn i,
.active-dark-mode .navbar-search .navbar-search-btn span,
.active-dark-mode .navbar-search .navbar-search-close {
  color: var(--grey-dark-four);
}
.active-dark-mode .navbar-search .navbar-search-btn i:hover,
.active-dark-mode .navbar-search .navbar-search-btn span:hover,
.active-dark-mode .navbar-search .navbar-search-close:hover {
  color: var(--primary-color);
}
.active-dark-mode .social-share__with-bg li a {
  color: var(--grey-dark-one);
}
.active-dark-mode .side-nav .side-navigation li {
  color: var(--grey-mid) !important;
}
.active-dark-mode .side-nav .side-navigation li.hovered {
  color: #fff !important;
}
.active-dark-mode .side-nav .side-navigation li.hover-removed {
  color: var(--grey-dark-two) !important;
}
.active-dark-mode .axil-contact-form-block,
.active-dark-mode .axil-contact-info-inner {
  background-color: var(--grey-dark-five);
}
.active-dark-mode input[type="text"],
.active-dark-mode input[type="password"],
.active-dark-mode input[type="email"],
.active-dark-mode input[type="tel"],
.active-dark-mode input[type="number"],
.active-dark-mode input[type="file"],
.active-dark-mode input[type="search"],
.active-dark-mode textarea,
.active-dark-mode select {
  border-color: var(--grey-dark-two);
}
.active-dark-mode input[type="text"]:focus,
.active-dark-mode input[type="email"]:focus,
.active-dark-mode input[type="url"]:focus,
.active-dark-mode input[type="password"]:focus,
.active-dark-mode input[type="search"]:focus,
.active-dark-mode input[type="number"]:focus,
.active-dark-mode input[type="tel"]:focus,
.active-dark-mode input[type="range"]:focus,
.active-dark-mode input[type="date"]:focus,
.active-dark-mode input[type="month"]:focus,
.active-dark-mode input[type="week"]:focus,
.active-dark-mode input[type="time"]:focus,
.active-dark-mode input[type="datetime"]:focus,
.active-dark-mode input[type="datetime-local"]:focus,
.active-dark-mode input[type="color"]:focus,
.active-dark-mode textarea:focus {
  color: #fff;
}
.active-dark-mode .form-group label,
.active-dark-mode .under-construction-inner-content .newsletter-widget .subscription-form-wrapper .form-group-small label {
  background-color: var(--grey-dark-one);
}
.active-dark-mode .btn-link,
.active-dark-mode .txt-btn {
  color: #fff;
}
.active-dark-mode .banner__home-with-slider-overlay {
  background-color: var(--grey-dark-key);
}
.active-dark-mode .grad-bg {
  background: linear-gradient(135deg, var(--grey-dark-one) 0%, var(--grey-dark-five) 100%, var(--grey-dark-eight) 100%);
}
.active-dark-mode .axil-shape-circle,
.active-dark-mode .axil-shape-circle__two {
  background: rgba(255, 255, 255, 0.1);
}
.active-dark-mode .banner-slider-container-synced .owl-nav:hover i,
.active-dark-mode .banner-slider-container-synced .slick-arrow:hover i {
  color: var(--primary-color);
}
.active-dark-mode .elementor-2535 .elementor-element.elementor-element-629866e .axil-title {
  color: #fff;
}
.active-dark-mode .elementor-18 .elementor-element.elementor-element-30ebb41:not(.elementor-motion-effects-element-type-background),
.active-dark-mode .elementor-18 .elementor-element.elementor-element-30ebb41 > .elementor-motion-effects-container > .elementor-motion-effects-layer,
.active-dark-mode .elementor-2535 .elementor-element.elementor-element-5aa80bc:not(.elementor-motion-effects-element-type-background),
.active-dark-mode .elementor-2535 .elementor-element.elementor-element-5aa80bc > .elementor-motion-effects-container > .elementor-motion-effects-layer {
  background-color: var(--grey-dark-key);
}
.active-dark-mode .elementor-2535 .elementor-element.elementor-element-d615116:not(.elementor-motion-effects-element-type-background),
.active-dark-mode .elementor-2535 .elementor-element.elementor-element-d615116 > .elementor-motion-effects-container > .elementor-motion-effects-layer,
.active-dark-mode .elementor-2535 .elementor-element.elementor-element-87a073b:not(.elementor-motion-effects-element-type-background),
.active-dark-mode .elementor-2535 .elementor-element.elementor-element-87a073b > .elementor-motion-effects-container > .elementor-motion-effects-layer {
  background-color: var(--grey-dark-seven) !important;
}
.active-dark-mode .elementor-200 .elementor-element.elementor-element-1b67e40:not(.elementor-motion-effects-element-type-background),
.active-dark-mode .elementor-200 .elementor-element.elementor-element-1b67e40 > .elementor-motion-effects-container > .elementor-motion-effects-layer,
.active-dark-mode .elementor-200 .elementor-element.elementor-element-21fc87b3:not(.elementor-motion-effects-element-type-background),
.active-dark-mode .elementor-200 .elementor-element.elementor-element-21fc87b3 > .elementor-motion-effects-container > .elementor-motion-effects-layer {
  background-color: var(--grey-dark-one);
}
.active-dark-mode .elementor-2387 .elementor-element.elementor-element-82b319f:not(.elementor-motion-effects-element-type-background),
.active-dark-mode .elementor-2387 .elementor-element.elementor-element-82b319f > .elementor-motion-effects-container > .elementor-motion-effects-layer {
  background-color: var(--grey-dark-seven) !important;
}
.active-dark-mode .elementor-2387 .elementor-element.elementor-element-f3a95b9:not(.elementor-motion-effects-element-type-background),
.active-dark-mode .elementor-2387 .elementor-element.elementor-element-f3a95b9 > .elementor-motion-effects-container > .elementor-motion-effects-layer {
  background-color: var(--grey-dark-seven) !important;
}
.active-dark-mode .axil-nav-top .owl-carousel .owl-nav button.owl-prev,
.active-dark-mode .axil-nav-top .owl-carousel .owl-nav button.owl-next,
.active-dark-mode .axil-nav-top .owl-carousel .owl-nav button.custom-owl-prev,
.active-dark-mode .axil-nav-top .owl-carousel .owl-nav button.custom-owl-next {
  background-color: var(--grey-dark-two);
}
.active-dark-mode .axil-banner-cat-counter_slider .axil-content_slider,
.active-dark-mode .axil-banner-cat-counter_slider .category-list-wrapper_slider {
  background-color: var(--grey-dark-key);
}
.active-dark-mode .banner-shares .toggle-shares {
  color: var(--grey-dark-four);
}
.active-dark-mode .social-share-wrapper .shared-counts-wrap.style-icon a.shared-counts-button {
  background-color: var(--grey-mid);
}
.active-dark-mode .social-share-wrapper .shared-counts-wrap.style-icon .shared-counts-button .shared-counts-icon svg {
  fill: var(--grey-dark-one);
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}
.active-dark-mode .axil-banner-sidebar {
  background-color: var(--grey-dark-eight);
}
.active-dark-mode .axil-banner-sidebar .post-block::before {
  background: var(--grey-dark-one);
}
.active-dark-mode .navbar-extra-features .btn {
  background: #fff !important;
  color: var(--grey-dark-one);
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}
.active-dark-mode .navbar-extra-features .btn:hover {
  background: var(--primary-color) !important;
  color: #fff;
}
.active-dark-mode .elementor-1918 .elementor-element.elementor-element-cd4fa41 .banner__home-with-slider-overlay {
  background-image: none;
}
.active-dark-mode .elementor-1918 .elementor-element.elementor-element-583af64:not(.elementor-motion-effects-element-type-background),
.active-dark-mode .elementor-1918 .elementor-element.elementor-element-583af64 > .elementor-motion-effects-container > .elementor-motion-effects-layer {
  background-color: var(--grey-dark-five);
}
.active-dark-mode .bg-grey-light-three {
  background-color: var(--grey-dark-eight);
}
.active-dark-mode blockquote,
.active-dark-mode .blockquote,
.active-dark-mode .wp-block-quote {
  background-color: var(--grey-dark-eight);
}
.active-dark-mode .entry-tags {
  background-color: var(--grey-dark-eight);
}
.active-dark-mode .entry-tags span {
  color: #fff;
}
.active-dark-mode .post-shares .title {
  color: #fff;
}
.active-dark-mode #respond .logged-in-as a {
  color: var(--grey-dark-four);
}
.active-dark-mode .post-navigation-wrapper .post-navigation .post-nav-content,
.active-dark-mode .banner__home-with-slider {
  background-color: var(--grey-dark-five);
}
.active-dark-mode .comments-section .comment-respond,
.active-dark-mode hr {
  border-color: var(--grey-dark-two);
}
.active-dark-mode .social-share-sticky .shared-counts-wrap.style-icon .shared-counts-button,
.active-dark-mode .select2-container--default .select2-results__option[aria-selected=true],
.active-dark-mode .select2-container--default .select2-results__option[data-selected=true] {
  background-color: var(--grey-dark-two);
}
.active-dark-mode .post-navigation__banner .post-navigation {
  background-color: var(--grey-dark-five);
}
.active-dark-mode .post-navigation__banner .post-navigation .post-nav-content {
  background-color: transparent;
}
.active-dark-mode .post-navigation__banner .post-navigation:nth-last-of-type(1)::before {
  color: var(--grey-dark-four);
}
.active-dark-mode .author-details-block {
  background-color: var(--grey-dark-five);
}
.active-dark-mode .error-404-content .txt-404 {
  color: var(--grey-dark-five);
}
.active-dark-mode .elementor-20 .elementor-element.elementor-element-a5a8132:not(.elementor-motion-effects-element-type-background),
.active-dark-mode .elementor-20 .elementor-element.elementor-element-a5a8132 > .elementor-motion-effects-container > .elementor-motion-effects-layer,
.active-dark-mode .elementor-24 .elementor-element.elementor-element-a959429:not(.elementor-motion-effects-element-type-background),
.active-dark-mode .elementor-24 .elementor-element.elementor-element-a959429 > .elementor-motion-effects-container > .elementor-motion-effects-layer,
.active-dark-mode .woocommerce form.checkout_coupon,
.active-dark-mode .woocommerce form.login,
.active-dark-mode .woocommerce form.register {
  background-color: var(--grey-dark-five);
}
.active-dark-mode .axil-contact-form .form-group label {
  background-color: var(--grey-dark-five);
}
.active-dark-mode .elementor-24 .elementor-element.elementor-element-f157f82:not(.elementor-motion-effects-element-type-background),
.active-dark-mode .elementor-24 .elementor-element.elementor-element-f157f82 > .elementor-motion-effects-container > .elementor-motion-effects-layer {
  background-color: var(--grey-dark-key);
}
.active-dark-mode .widgets-sidebar .sidebar-post-widget .nav-pills li a:hover,
.active-dark-mode .widgets-sidebar .sidebar-post-widget .nav-pills li a.active {
  border-color: var(--grey-light-one);
}
.active-dark-mode .woocommerce form .form-row label {
  color: var(--grey-light-two);
}
.active-dark-mode .woocommerce form.checkout_coupon,
.active-dark-mode .woocommerce form.login,
.active-dark-mode .woocommerce form.register {
  border-color: var(--grey-dark-two);
}
.active-dark-mode .woocommerce-error,
.active-dark-mode .woocommerce-info,
.active-dark-mode .woocommerce-message,
.active-dark-mode #add_payment_method #payment,
.active-dark-mode .woocommerce-cart #payment,
.active-dark-mode .woocommerce-checkout #payment {
  background-color: var(--grey-dark-three);
}
.active-dark-mode .woocommerce div.product .product_title,
.active-dark-mode .woocommerce div.product .woocommerce-tabs h2,
.active-dark-mode .woocommerce div.product .woocommerce-tabs #respond .comment-reply-title,
.active-dark-mode .woocommerce #review_form #respond .comment-form-rating label,
.active-dark-mode #review_form_wrapper .col-sm-12.p0 textarea#comment,
.active-dark-mode .woocommerce div.product form.cart .variations label {
  color: var(--color-white);
}
.active-dark-mode .woocommerce div.product .product_meta,
.active-dark-mode .woocommerce div.product .product-meta span,
.active-dark-mode .woocommerce div.product .product_meta span {
  color: var(--grey-light-one);
}
.active-dark-mode .woocommerce div.product .product-meta a,
.active-dark-mode .woocommerce div.product .product_meta a {
  color: var(--grey-dark-four);
}
.active-dark-mode input[type="text"],
.active-dark-mode input[type="password"],
.active-dark-mode input[type="email"],
.active-dark-mode input[type="tel"],
.active-dark-mode input[type="number"],
.active-dark-mode input[type="file"],
.active-dark-mode input[type="search"],
.active-dark-mode textarea,
.active-dark-mode select,
.active-dark-mode #review_form_wrapper .col-sm-12.p0 textarea#comment {
  border-color: var(--grey-dark-two);
  color: #fff;
}
.active-dark-mode .focused input[type="text"],
.active-dark-mode .focused input[type="password"],
.active-dark-mode .focused input[type="email"],
.active-dark-mode .focused input[type="tel"],
.active-dark-mode .focused input[type="number"],
.active-dark-mode .focused input[type="file"],
.active-dark-mode .focused input[type="search"],
.active-dark-mode .focused textarea,
.active-dark-mode .focused select {
  border-color: var(--primary-color);
  background-color: transparent;
}
.active-dark-mode #review_form_wrapper .col-sm-12.p0 .focused textarea#comment,
.active-dark-mode .woocommerce-notice.woocommerce-notice--info,
.active-dark-mode span.aw-cart-count {
  border-color: var(--primary-color);
}
.active-dark-mode .woocommerce-error,
.active-dark-mode .woocommerce-info,
.active-dark-mode .woocommerce-message,
.active-dark-mode .woocommerce form p,
.active-dark-mode .no-results h2.page-title {
  color: var(--color-white);
}
.active-dark-mode .woocommerce table.shop_table,
.active-dark-mode .woocommerce-cart .woocommerce table.shop_table th,
.active-dark-mode .woocommerce-cart .woocommerce table.shop_table td,
.active-dark-mode .woocommerce-account .woocommerce .shop_table th,
.active-dark-mode .woocommerce-account .woocommerce .shop_table td,
.active-dark-mode .woocommerce-account .woocommerce .shop_table {
  border-color: rgba(255, 255, 255, 0.2);
}
.active-dark-mode span.select2-selection.select2-selection--single {
  border-color: var(--grey-dark-two);
}
.active-dark-mode .select2-container--open .select2-dropdown--above,
.active-dark-mode .select2-dropdown {
  background-color: var(--grey-dark-one);
}
.active-dark-mode .woocommerce form .form-row.woocommerce-validated .select2-container,
.active-dark-mode .woocommerce form .form-row.woocommerce-validated input.input-text,
.active-dark-mode .woocommerce form .form-row.woocommerce-validated select {
  background-color: transparent;
  border-color: var(--color-danger);
  color: #fff;
}
.active-dark-mode .select2-container--default .select2-selection--single {
  background-color: transparent;
}
.active-dark-mode .tagcloud a {
  color: var(--grey-light-one);
}
.active-dark-mode .tagcloud a:hover {
  border: 0.2rem solid var(--primary-color);
  border-color: var(--primary-color);
  color: white;
}
.active-dark-mode .widget-title {
  border-color: var(--grey-dark-two);
}
.active-dark-mode .page-footer .social-share__with-bg li a {
  background-color: var(--grey-dark-one);
  color: #fff;
}
.active-dark-mode .page-footer .social-share__with-bg li a:hover {
  background-color: var(--primary-color);
}
.active-dark-mode .woocommerce ul.products li.product .price {
  color: var(--grey-light-two);
}
.active-dark-mode .woocommerce .quantity .qty {
  background-color: transparent;
}
.active-dark-mode mark,
.active-dark-mode ins {
  background-color: var(--grey-dark-two);
}
.active-dark-mode .navbar__style-three .submenu {
  background: var(--grey-dark-five);
}
.active-dark-mode .banner,
.active-dark-mode section.banner__standard {
  background-color: var(--grey-dark-seven);
}
.active-dark-mode .blockquote,
.active-dark-mode .blockquote p,
.active-dark-mode .wp-block-quote,
.active-dark-mode .wp-block-quote p,
.active-dark-mode blockquote,
.active-dark-mode blockquote p {
  color: var(--grey-mid);
}
.active-dark-mode .blockquote,
.active-dark-mode .wp-block-quote,
.active-dark-mode blockquote {
  background-color: var(--grey-dark-seven);
}
.active-dark-mode .tagcloud a {
  border: 0.2rem solid var(--grey-dark-two);
}
.active-dark-mode .sidebar-post-widget .nav-pills {
  border-color: var(--grey-dark-two);
}
.active-dark-mode .widgets-sidebar .sidebar-post-widget .nav-pills li a.active,
.active-dark-mode .widgets-sidebar .sidebar-post-widget .nav-pills li a:hover {
  border-color: var(--primary-color);
}
.active-dark-mode .sidebar-post-widget .nav-pills li a {
  border-color: var(--grey-dark-two);
}
.active-dark-mode .sidebar-post-widget .nav-pills {
  border-color: var(--grey-dark-two);
}
.active-dark-mode .weekly-newsletter p {
  color: var(--grey-dark-four);
}
.active-dark-mode .bg-grey-light-three .form-group label,
.active-dark-mode .sidebar-style-two .weekly-newsletter .form-group label {
  background: var(--grey-dark-seven);
}
.active-dark-mode .newsletter-widget.bg-grey-light-three,
.active-dark-mode .sidebar-style-two .weekly-newsletter {
  background-color: var(--grey-dark-seven);
}
.active-dark-mode .under-construction-inner-content .newsletter-widget.bg-grey-light-three,
.active-dark-mode .under-construction-inner-content .sidebar-style-two .weekly-newsletter {
  background-color: transparent;
}
.active-dark-mode .header-mid {
  background: var(--grey-dark-seven) !important;
}
.active-dark-mode .personal-info-overlay .axil-contact-info-inner:before {
  background: rgba(0, 0, 0, 0.5);
}
.personal-info .axil-contact-info-inner {
  padding: 3rem;
  position: relative;
  z-index: 1;
}
.personal-info-overlay .axil-contact-info-inner:before {
  content: "";
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background: rgba(255, 255, 255, 0.6);
  position: absolute;
  z-index: -1;
}
.light-logo {
  display: none;
}
.active-dark-mode .dark-logo {
  display: none;
}
.active-light-mode .dark-logo {
  display: block;
}
.active-light-mode .light-logo {
  display: none;
}
.active-dark-mode .light-logo {
  display: block;
}
@media (max-width: 991px) {
  .active-dark-mode .close-sidenav-wrap {
    background: var(--grey-dark-five);
  }
}
